@import '../../styles/mixins';

.div-container {

* {
    font-family: 'Open Sans', sans-serif !important;
}

}

.testSerie{
  color:white;
  font-family: 'Open Sans', sans-serif !important;
}

.img-recommandation:hover{
    border: 2px solid #0097ac;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, .4);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .4);
    -webkit-transition: all .45s ease;
    transition: all .45s ease;

}


#results {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    color: rgba(201, 201, 201, 0.738);
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 8px;

    overflow: auto;
}

#suggested {
    font-size: 1.2em;
    text-align: center;
    color: rgba(201, 201, 201, 0.738);
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 8px;

    display: block;
    margin: 0 auto;
    width: 100%;
    
}
.separateur {
    margin: 1em auto;
    width: 33%;
    background-color: rgba(201, 201, 201, 0.738);
    height: 1px;
}
