@import '../../styles/mixins';

.div-container {



}

.img-recommandation:hover{
    border: 2px solid #0097ac;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, .4);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .4);
    -webkit-transition: all .45s ease;
    transition: all .45s ease;

}
