@import '../../styles/mixins';

.serie-details-row {
  margin-top: 5%;
  background-color:rgba(0, 0, 0, 0.5) !important;
}



td{
  color: white;
}

p{
  color: white;
}

.serie-poster {
height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.container-img{
  position: absolute;
  width: 100%;
}



.synopsis-p {
  font-size: 150%;
  color: white;
}

.button-retour {
  margin: auto;
}
